<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
   
    <title>Snack</title>
</head>
<body>
    <a href="#demo" id="link">
        <span id="burger"></span>
    </a>
    <div id="demo" class="modale">
        <div class="modale_content">
            <ul>
                <li>
                    <a href="login.html">S'identifier</a>
                </li>

                <li>
                    <a href="index.html">S'inscrire</a>
                </li>

                <li>
                    <a href="listeUser.html">Liste des utilisteurs</a>
                </li>
            </ul>
            <a href="#" class="modale_close">&times;</a>
        </div>
    </div>
</body>
</html>