<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/produit.css">
    <link rel="stylesheet" href="../css/index.css">
    
   
    <title>Snack</title>
</head>
<body>
    <a href="#demo" id="link">
        <span id="burger"></span>
    </a>
    <div id="demo" class="modale">
        <div class="modale_content">
            <ul>
                <li>
                    <a href="login.html">S'identifier</a>
                </li>

                <li>
                    <a href="index.html">S'inscrire</a>
                </li>

                <li>
                    <a href="listeUser.html">Liste des utilisteurs</a>
                </li>
            </ul>
            <a href="#" class="modale_close">&times;</a>
        </div>
    </div>

    <div class="sidebar">
        <ul class="">
            
            <li>
                <a href="propietaire.html"> <i class="fas fa-home"></i> Bierre</a>
            </li>
            <li>
                <a href="propietairegerant.html"><i class="fas fa-clipboard-list"></i>Whysky</a>
            </li>
            <li>
                <a href=""><i class="fas fa-clipboard-list"></i> Jus</a>
            </li>
            <li>
                <a href=""><i class="fas fa-clipboard-list"></i> Vin</a>
            </li>
            <li>
                <a href=""><i class="fas fa-clipboard-list"></i> Cocktail de fruit</a>
            </li>
            <li>
                <a href=""><i class="fas fa-clipboard-list"></i> Cocktail de boissons</a>
            </li>
            
    </div>


    <div id="container">
        <div class="contenu">
                <h2>BIERRE</h2>
                <article class='wrapper' style='background-image:"";'>
                    <div class="overlay">
                        <h4> KADJI</h4>
                        <form class="formu" action="">
                             <p class="prix">1000fcfa</p>
                             <label><b>Qte: 5</b></label>
                            <button value="Ajouter" class="bouton2 btn btn-success"> 
                                <img src="../image/Bar-de-Douala1.jpg"  class="bouton2">
                                <label>Ajouter</label>     
                            </button>
                        </form>           
                    </div>
                </article>

                <article class='wrapper' style='background-image:"";'>
                    <div class="overlay">
                        <h4> CASTEL</h4>   
                        <form class="formu" action="">
                             <p class="prix">1000fcfa</p>
                             <label><b>Qte: 5</b></label>
                            <button value="Ajouter" class="bouton2 btn btn-success"> 
                                <img src="../image/Bar-de-Douala1.jpg"  class="bouton2">
                                <label>Ajouter</label>     
                            </button>
                        </form>            
                    </div>
                </article>

                <article class='wrapper' style='background-image:"";'>
                    <div class="overlay">
                        <h4> 33</h4>
                       
                        <form class="formu" action="">
                             <p class="prix">1000fcfa</p>
                             <label><b>Qte: 5</b></label>
                            <button value="Ajouter" class="bouton2 btn btn-success"> 
                                <img src="../image/Bar-de-Douala1.jpg"  class="bouton2">
                                <label>Ajouter</label>     
                            </button>
                        </form>            
                    </div>
                </article>

                <article class='wrapper' style='background-image:"";'>
                    <div class="overlay">
                        <h4> ISEMBERG</h4>
                       
                        <form class="formu" action="">
                             <p class="prix">1000fcfa</p>
                             <label><b>Qte: 5</b></label>
                            <button value="Ajouter" class="bouton2 btn btn-success"> 
                                <img src="../image/Bar-de-Douala1.jpg"  class="bouton2">
                                <label>Ajouter</label>     
                            </button>
                        </form>            
                    </div>
                </article>

                <article class='wrapper' style='background-image:"";'>
                    <div class="overlay">
                        <h4> DJINO</h4>
                        <form class="formu" action="">
                             <p class="prix">1000fcfa</p>
                             <label><b>Qte: 5</b></label>
                           <button value="Ajouter" class="bouton2 btn btn-success"> 
                                <img src="../image/Bar-de-Douala1.jpg"  class="bouton2">
                                <label>Ajouter</label>     
                            </button>
                        </form>            
                    </div>
                </article>
                <div class="clear"></div>
                 
             
        </div>
    </div>


</body>
</html>